

<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!--<h3>Personajes</h3>
        <hr>
        <ul *ngFor="let personaje of personajes">
            <li>{{personaje.nombre}} - {{personaje.poder | number}}</li>
        </ul>
        <app-personajes [personajes]="personajes"></app-personajes> -->
        <app-personajes></app-personajes>
    </div> <!-- .col -->

    <div class="col">
        <!--<app-agregar (onNuevoPersonaje)="agregarNuevoPersonaje($event)" [nuevo] = "nuevo" ></app-agregar>-->
        <app-agregar [nuevo]="nuevo" ></app-agregar>
    </div> <!-- .column -->
</div> <!-- .row -->
